.PhoneInputContainer {
    margin-top: 0px;
    display: flex;
    align-items: center;
    padding: 0px;
    background-color: #fff;
    width: 100%; 
}

.PhoneInputInput {

    width: 100% !important;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
}

.PhoneInputButton {

    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 8px;
}
